---
import Layout from "../../../../layouts/Layout.astro";
import teachers from "../../../../../public/teachers.json";
import {getPhrases, quoteFix} from "../../../../utils";

const teacherID = Astro.params.teacher;

const catchphrases = await getPhrases(0);

if (!teacherID) {
    return Astro.redirect("/kronika");
}

const teacherName = teachers[teacherID];

if (!teacherName) {
    return Astro.redirect("/kronika");
}

let phrases = catchphrases[teacherID];

---

<Layout title={teacherName} description={"Hlášky učitele " + teacherName}>
    <div class="body">
        <div id="hlasky">
            <h2>Hlášky ({phrases.length})</h2>
            <ul>
                {
                    phrases.map((p) => 
                        (<li class="quote">{quoteFix(p)} <a class="report" href={"/kronika/report?text=" + quoteFix(p) + "&teacher=" + teacherName + "&return=" + Astro.url.href} title="Nahlásit chybu" style="color: red; text-decoration: none;"> nahlásti chybu</a></li>)
                    )
                }
            </ul>
        </div>
    </div>
</Layout>

<style>
    .quote:hover > .report {
        display: inline;
    }

    .quote {
        cursor: pointer;
    }

    .quote > .report {
        display: none;
        font-weight: bold;
    }
</style>