---
import Layout from "../../../../layouts/Layout.astro";
import teachers from "../../../../../public/teachers.json";
const catchphrases = await Astro.glob("../../../../../public/catchphrases/*.json");

const t = Astro.params.teacher;

if (!t) {
    return Astro.redirect("/kronika");
}

const teacherName = teachers[t];

if (!teacherName) {
    return Astro.redirect("/kronika");
}

let phrases = [];
catchphrases.forEach((pr) => {// @ts-ignore
    if (pr[t]) pr[t].forEach((p) => phrases.push(p));
});

function quoteFix(input) {
    let n = 0;
    return input.replace(/"/g, (m, i, og) => {
        return (n++ % 2) ? "“" : '„';
    });
}
---

<Layout title={teacherName} description={"Hlášky učitele " + teacherName}>
    <div class="body">
        <div id="hlasky">
            <h2>Hlášky ({phrases.length})</h2>
            <ul>
                {
                    phrases.map((p) => 
                        (<li>{quoteFix(p)}</li>)
                    )
                }
            </ul>
        </div>
    </div>
</BetaLayout>
