---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import teachers from "../../../public/teachers.json";
const phrases = await Astro.glob("../../../public/catchphrases/*.json");
import { className, createExpires, validYear } from "../../utils";

const params = Astro.url.searchParams

if (!params.has("year") || !validYear(params.get("year"))) {
	return Astro.redirect('/select/year?redirect_reason=invalid.year')
}

const year = params.get("year")

Astro.cookies.set("last", Astro.url.href, {expires: createExpires(1)})

var keys = [];
if (year != "0") {
	keys = Object.keys(phrases.at(parseInt(year) - 1))
}
function valid(key:string) {
	if (keys.length == 0) {
		return true;
	} else {
		if (keys.includes(key)) {
			return true;
		} else {
			return false;
		}
	}
}
---

<Layout title={"Citáty z"+year!=0?year+" ":"e všech ročníků" + " | " + "Online kronika"}>
	<main>
		<h1><span class="text-gradient">Vyberte učitele</span></h1>
		<span class="text-gradient" id="class">
			{className(year)}
		</span>
		{
			// go through teachers and add Card for every key
			Object.keys(teachers).map((key) => {
				if (valid(key)) {
					return (
						<Card
							title={teachers[key]}
							body={"Hlášky učitele (zkratka jména: " + key + ")"}
							href={"/open/teacher?year="+year+"&id=" + key}
						/>
					);
				}
			})
		}
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
