---
import BetaLayout from "../../layouts/beta/BetaLayout.astro";
---

<BetaLayout title="[BETA] Online kronika" description="Beta verze online kronika">
    <div class="body">
        Implementované jen statistiky!
    </div>
</BetaLayout>