---
import BetaLayout from "../../layouts/beta/BetaLayout.astro";
---

<BetaLayout title="Hlavní strana - gymlit18g BETA" description="Beta verze online kronika">
    <div class="header">
        <h1>Kronika 5. G</h1>
        <h2>Vítejte na našich stránkách!</h2>
    </div>
    <div class="body">
        Implementované jen statistiky!
    </div>
</BetaLayout>