---
import Layout from "../../../layouts/Layout.astro";
import { Markdown } from "@astropub/md";

const json = Astro.url.searchParams.get("json");
const clazz = Astro.url.searchParams.get("class");
---

<Layout
    title="Vygenerovaný JSON"
    description="Vložte ho do příslušného souboru"
>
    <div class="body">
        <p>
            Mějte na paměti, že se uložená data za ročník smazala. Pro kompletní
            smazání dat (všechny ročníky) stačí resetovat stránku.
        </p>
        <a
            href={"https://github.com/PanJohnny/gymlit-18g/edit/main/public/catchphrases/" +
                clazz +
                ".json"}
            target="_blank"
            rel="noopener noreferrer"
            role="button">Otevřít soubor</a
        >
        <input
            type="button"
            value="Kopírovat"
            id="copy"
        />
        <Markdown of={"```json\n" + json + "\n```"} />
    </div>
    <div id="raw">
        {json}
    </div>
</Layout>

<style>
    a {
        text-decoration: none;
    }

    #raw {
        display: none;
    }

    #copy {
        padding: .5em;
        background-color: coral;
        border-radius: 15px;
        outline: none;
        border: none;
    }

    #copy:hover {
        background-color: rgb(218, 113, 74);
    }

    #copy:active {
        background-color: rgb(255, 96, 39);
    }
</style>

<script>
    document.getElementById("copy")?.addEventListener("click", async (event) => { // @ts-ignore
        navigator.clipboard.writeText(document.getElementById("raw").innerText.trim());
        window.alert("Zkopírováno do schránky!");
    });
</script>
