---
import BSearchBundle from "../../../components/BSearchBundle.astro";
import LoginInfo from "../../../components/LoginInfo.astro";
import Layout from "../../../layouts/Layout.astro";

const auth = Astro.cookies.get("auth").value;
if (auth != import.meta.env.SECRET) {
    return Astro.redirect("/login");
}
---

<Layout title="Úprava událostí" description="Portál editora kroniky">
    <div class="body">
        <div>
            <p>Úpravy jsou lepší provádět přímo na GitHubu. Návod je zde: <a href="https://github.com/PanJohnny/gymlit-18g/tree/main/guides/EVENTS.md" target="_blank" rel="noopener noreferrer">Návod - Jak upravit události?</a></p>
            <div class="bsearch">
                <input
                    type="search"
                    name="class"
                    id="class"
                    placeholder="Ročník"
                />
                <ul class="hidden">
                    <li>Prima</li>
                    <li>Sekunda</li>
                    <li>Tercie</li>
                    <li>Kvarta</li>
                    <li>Kvinta</li>
                    <li>Sexta</li>
                    <li>Septima</li>
                    <li>Oktáva</li>
                </ul>
            </div>
    
            <input type="button" value="Otevřít" role="button" id="load" />
        </div>
        <LoginInfo/>
    </div>
</Layout>



<style>
    #events {
        white-space: pre-line;
        background-color: white;
        margin: 1em;
        color: var(--dark);
    }

    #output {
        margin-top: 2em;
    }

    #show {
        background-color: greenyellow;
    }
</style>

<script>
    document.querySelector("#load")?.addEventListener("click", () => {
        const clazz: HTMLInputElement | null = document.querySelector("#class");

        // Index of clazz element
        // Start counting from 1
        let i = 1;
        let clazzIndex = -1;
        clazz?.parentElement
            ?.querySelector("ul")
            ?.querySelectorAll("li")
            .forEach((c) => {
                if (c.innerText.toLowerCase() == clazz.value.toLowerCase())
                    clazzIndex = i;

                i++;
            });

        // Check clazz index
        if (clazzIndex < 0) {
            window.alert("Chyba při načítání, index třídy mimo dosah");
            return;
        }

        window.open(`https://github.com/PanJohnny/gymlit-18g/edit/main/src/pages/events/${clazzIndex}.md`, "_blank", "norefferer noopener");
    });
</script>

<BSearchBundle />
