---
const { frontmatter } = Astro.props;
---

<html>
    <head>
        <!-- Primary Meta Tags -->
        <title>Události | {frontmatter.class}</title>
    </head>

    <body>
        <h1>{frontmatter.class}</h1>
            <slot />
        
    </body>
</html>
