---
---
<head>
    <title>Editor</title>
</head>
<main>
    <h1>Editor</h1>
    <input type="text" placeholder="Profesor" id="prof"/>
    <textarea name="citát" id="cit" placeholder="Catchphrases" cols="115" rows="10"></textarea>
    <input type="button" value="Generovat" id="save">
    <hr>
    <textarea name="output" id="out" placeholder="Output" cols="115" rows="10"></textarea>
    <script is:inline src="/cookieUtil.js"></script>

    <script is:inline>
        if (!hasCookie("auth"))
            window.location.href = "/";
        const prof = document.getElementById('prof')
        const cit = document.getElementById('cit')
        const out = document.getElementById('out')
        document.getElementById('save').addEventListener("click", async (event) => {
            var lines = cit.value.split("\n")
            var l = []
            // filter lines if line is empty remove it
            for (var i = 0; i < lines.length; i++) {
                var line = lines[i]
                if(line.trim().length != 0)
                    l.push(line.trim())
            }
            out.innerText = '"' + prof.value + '"' + ": " + JSON.stringify(l);
        })
    </script>
</main>