---
import { getCookie } from "../../cookies.js"

const auth = getCookie("auth", Astro.request.headers)
if(auth != import.meta.env.SECRET) {
    return Astro.redirect("/login")
}
---
<head>
    <title>Editor</title>
</head>
<main>
    <h1>Editor</h1>
    <input type="text" placeholder="Ivan Soukup" id="prof"/>
    <input type="button" value="Generovat" id="save">
    <hr>
    <textarea name="output" id="out" placeholder="Output" cols="115" rows="10"></textarea>
    

    <script is:inline>
        const prof = document.getElementById('prof')
        const out = document.getElementById('out')
        
        document.getElementById('save').addEventListener("click", async (event) => {
            const split = prof.value.trim().split(" ")
            if (split.length >= 2) {
                out.innerText = '"' + (split[0].substring(0, 3) + split[1].charAt(0)).toLowerCase() + '": ' + '"' + prof.value.trim() +'"' 
            }
        })
    </script>
</main>