---

---

<html>

<head>
    <title>Gymlit Kronika | Sdílení stránky</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <script src="/cookieUtil.js" is:inline> </script>
    <script is:inline>
        const urlSearchParams = new URLSearchParams(window.location.search);
        const params = Object.fromEntries(urlSearchParams.entries());

        const c = params["c"]
        const category = params["t"]

        var hash = params["h"]

        if (!hash)
            hash = ""

        if (!c || !category) {
            window.alert("Invalid share link")
            window.location.href = "/"
        }
        setCookie("class", c, 1)
        setCookie("category", category, 1)
        window.location.href = "/open/" + category + "#" + "hash"
    </script>
</head>

<body>
    <noscript>
        This page does not work without JavScript please leave it
    </noscript>
</body>

</html>