---
import BetaLayout from "../../layouts/beta/BetaLayout.astro";
---

<BetaLayout title="Kronika 5. G" description="Internetov치 verze t콏칤dn칤 kroniky">
    <div class="body">
        V칤tejte na na코ich webov칳ch str치nk치ch!
        
        <h2><b>158游뚿</b></h2>
        <p>To je po캜et hl치코ek ke dni 28. 3. 游녤 V칤ce informac칤 <a href="/kronika/stats">zde</a></p>

        <div class="desktop">
            <h2>Kalend치콏</h2>
            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Europe%2FPrague&showTabs=0&showCalendars=0&showTz=0&showPrint=1&showNav=1&src=MjNrOWsyM3NqbHY5b2Rmazh0b3BwcGFoanNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%238E24AA" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
        <p><a href="https://calendar.google.com/calendar/u/0/r?cid=23k9k23sjlv9odfk8topppahjs@group.calendar.google.com">P콏idejte si kalend치콏 t콏칤dy do sv칠ho.</a> </p>
        <h2>Nov치 verze str치nek</h2>
        <h3 id="novinky">Novinky</h3>
        <p>D칤ky navigaci se te캞 dostanete po str치nce rychleji. Mo쬹ost konfigurace tmav칠ho re쬴mu ur캜it캩 tak칠 p콏ijde vhod. M콢쬰te se pod칤vat na statistiky a to i ty o n치v코t캩vnosti str치nky. V코e te캞 dostalo nov칳 look & feel. S n치vrhy a kritikou se obra콘te na Honzu. Z estetick칠ho hlediska nov캩 vyu쮂셨치me 캜esk칠 uvozovky.</p>
        <h2>Preference</h2>
        <p>V preferenc칤ch m콢쬰te nastavit zda-li byste rad코i pou쬴li starou verzi kroniky. D치le m콢쬰te aktivovat tmav칳 re쬴m.</p>
    </div>
</BetaLayout>
    
<style>
    @media (max-width: 1024px) {
        .desktop {
            display: none;
        }
    }
</style>
