---
import BetaLayout from "../../layouts/beta/BetaLayout.astro";
---

<BetaLayout title="Kronika 5. G" description="Internetová verze třídní kroniky">
    <div class="body">
        Vítejte na našich webových stránkách!
        <div class="desktop">
            <h2>Kalendář</h2>
            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Europe%2FPrague&showTabs=0&showCalendars=0&showTz=0&showPrint=1&showNav=1&src=MjNrOWsyM3NqbHY5b2Rmazh0b3BwcGFoanNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%238E24AA" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
        <p><a href="https://calendar.google.com/calendar/u/0/r?cid=23k9k23sjlv9odfk8topppahjs@group.calendar.google.com">Přidejte si kalendář třídy do svého.</a> </p>
        <h2>Nová verze stránek</h2>
        <h3 id="novinky">Novinky</h3>
        <p>Díky navigaci se teď dostanete po stránce rychleji. Možnost konfigurace tmavého režimu určitě také přijde vhod. Můžete se podívat na statistiky a to i ty o návštěvnosti stránky. Vše teď dostalo nový look & feel. S návrhy a kritikou se obraťte na Honzu. Z estetického hlediska nově využíváme české uvozovky.</p>
        <h2>Preference</h2>
        <p>V preferencích můžete nastavit zda-li byste radši použili starou verzi kroniky. Dále můžete aktivovat tmavý režim.</p>
    </div>
</BetaLayout>
    
<style>
    @media (max-width: 1024px) {
        .desktop {
            display: none;
        }
    }
</style>
