---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Kronika 6. G" description="Internetová verze třídní kroniky">
    <div class="body">
        Vítejte na našich webových stránkách!

        <div class="desktop">
            <h2>Kalendář</h2>
            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Europe%2FPrague&showTabs=0&showCalendars=0&showTz=0&showPrint=1&showNav=1&src=MjNrOWsyM3NqbHY5b2Rmazh0b3BwcGFoanNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%238E24AA" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
        <p><a href="https://calendar.google.com/calendar/u/0/r?cid=23k9k23sjlv9odfk8topppahjs@group.calendar.google.com">Přidejte si kalendář třídy do svého.</a> </p>
        <div>
            <h2 id="funkce">Funkce</h2>
            <p>Pomocí navigace (lupička) se můžete rychle pohybovat po stránce. Můžete se podívat na statistiky a to i ty o návštěvnosti. Červené vykřičníky u hlášek po kliknutí otevřou prostředek pro nahlašování chyb, nebo jen pro kontakt. Informace o poslední aktualizaci stránek naleznete, pod každou stránkou.</p>
        </div>
        <div>
            <h2>Preference</h2>
            <p>V preferencích můžete nastavit zda-li byste radši použili starou verzi kroniky. Dále můžete aktivovat tmavý režim.</p>
        </div>
        <div>
            <h2>Osobní údaje</h2>
            <p>Stránka neshromažďuje žádné osobní údaje, jen používá systém osobního identifikátoru, pro sledování unikátních návštěv.</p>
        </div>
    </div>
</Layout>
    
<style>
    @media (max-width: 1024px) {
        .desktop {
            display: none;
        }
    }

    .news {
        color: green;
        font-weight: 900;
    }
</style>
