---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Kronika 7. G" description="Internetová verze třídní kroniky">
    <div class="body">
        Vítejte na našich webových stránkách!
        <div>
            <h2 id="funkce">Funkce</h2>
            <p>Pomocí navigace (lupička) se můžete rychle pohybovat po stránce. Můžete se podívat na statistiky a to i ty o návštěvnosti. Červené vykřičníky u hlášek po kliknutí otevřou prostředek pro nahlašování chyb, nebo jen pro kontakt. Informace o poslední aktualizaci stránek naleznete, pod každou stránkou.</p>
        </div>
        <div>
            <h2>Preference</h2>
            <p>V preferencích můžete nastavit zda-li byste radši použili starou verzi kroniky. Dále můžete aktivovat tmavý režim.</p>
        </div>
        <div>
            <h2>Osobní údaje</h2>
            <p>Stránka neshromažďuje žádné osobní údaje, jen používá systém osobního identifikátoru, pro sledování unikátních návštěv.</p>
        </div>
        <a class="last-news loading" href="javascript:void(0)">
            Načítání...
        </a>
    </div>
</Layout>
    
<style>
    @media (max-width: 1024px) {
        .desktop {
            display: none;
        }
    }

    .news {
        color: green;
        font-weight: 900;
    }
</style>

<script is:inline>
    const msg = '<icon class="rss">&nbsp;&nbsp;&nbsp;&nbsp;</icon> Poslední zpráva ze školy: ';
    const ln = document.querySelector(".last-news");

    fetch("https://fastgymlit.vercel.app/api/feed").then(r => r.json()).catch(err => {
        ln.remove();
    }).then(json => {
        ln.innerHTML = msg + json[0].title;
        ln.classList.remove("loading");
        ln.setAttribute("href", json[0].link)
    }).catch(err => ln.remove());
</script>

<style is:inline>
    .loading {
        cursor: wait;
    }

    .last-news {
        color: inherit;
        text-decoration: none;
    }

    .rss {
        margin: 0;
        background-size: 1rem 1rem !important;
        user-select: none;
        background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Rss_font_awesome.svg/768px-Rss_font_awesome.svg.png");
    }
</style>
