---
interface Props {
    visible?:boolean
}

const {visible} = Astro.props as Props;

let v = "true";

if (!visible) {
    v = "false";
}
---

<div class="settings inverted" data-visible={v}>
    <h2>Nastavení</h2>
    <div>
        <ol>
            <li><label><input type="checkbox" id="darkMode"> Tmavý režim 🌚</label></li>
            <li><label><input type="checkbox" id="oldVersion"> Preferovat starou verzi 👴</label></li>
        </ol>
    </div>
    <span id="doneSettings" role="button">Hotovo ✔️</span> <hr />
    <span role="button" id="clearData" style="background-color: red;">Vymazat data 🧹</span> (preference, cookies - autorizace, poslední url, statistický id)
</div>

<style>
    .settings {
        position: fixed;
        z-index: 2;
        border-style: solid;
        border-radius: 10px;
        border-color: var(--border-color);
        padding: 1em;
        border-width: 2px;

        top: 40vh;
        left: 50vw;
        transform: translate(-50%, -50%);
    }

    .settings[data-visible="false"] {
        display: none;
    }
    
    #doneSettings {
        right: .2em;
    }
</style>

<script>
    function closeSettings() {
        document.querySelector(".settings").setAttribute("data-visible", "false");
    }

    document.querySelector("#doneSettings").addEventListener("click", closeSettings);

    document.querySelector("#darkMode").addEventListener("change", (e) => {
        if (e.currentTarget["checked"]) {
            document.querySelector("html").className = "dark";
            localStorage.setItem("mode", "dark");
        } else {
            document.querySelector("html").className = "light";
            localStorage.setItem("mode", "light");
        }
    });

    document.querySelector("#darkMode")["checked"] = localStorage.getItem("mode") == "dark";

    document.querySelector("#oldVersion").addEventListener("change", (e) => {
        localStorage.setItem("old", e.currentTarget["checked"])
    });

    document.querySelector("#oldVersion")["checked"] = localStorage.getItem("old") == "true";
   
    document.querySelector("#clearData").addEventListener("click", (e) => {
        const cookies = document.cookie.split(";");

        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i];
            const eqPos = cookie.indexOf("=");
            const name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
            document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
        }
        
        localStorage.clear();
        window.location.reload();
    });
</script>
