---
export interface Props {
	c: number;
    hash: string;
    type: string;
    title: string;
}

const { c, hash, type, title } = Astro.props as Props;
---

<div class="share" data-c={c} data-h={hash} data-t={type} data-title={title}>
    Sdílet tuto stránku
</div>

<script>
    const element = document.getElementsByClassName("share")[0];
    const title = element.getAttribute("title");
    const c = element.getAttribute("data-c");
    const h = element.getAttribute("data-h");
    const t = element.getAttribute("data-t");
    const link = "/share?t=" + t + "&c=" + c + "&h=" + h
    element.addEventListener("click", () => {
        navigator.share({
            title: title,
            text: "Otevřte online kroniku",
            url: link
        })
    })
</script>