---
import Layout from "../../../../layouts/Layout.astro";
import teachers from "../../../../../public/teachers.json";
import {latinClass, getPhrases, getEvents, quoteFix} from "../../../../utils"

const y = Astro.params.year;
if (!y) return Astro.redirect("/kronika");

const classYear: number = +y;

if (classYear < 0 || classYear > 8) {
    return Astro.redirect("/kronika");
}

/*
frontmatter: [Getter],
  file: [Getter],
  url: [Getter],
  rawContent: [Getter],
  compiledContent: [Getter],
  getHeadings: [Getter],
  Content: [Getter],
  default: [Getter]
  */

let events = await getEvents(classYear);
let phrases = await getPhrases(classYear);

const authorized = Astro.cookies.has("auth")
---

<Layout
        title={"Souhrn " + (classYear != 0 ? classYear + ". G" : "všeho")}
        description="Souhrn školního roku"
>
    <div class="body">
        <div id="udalosti">
            <details>
                <summary>Události</summary>
                <div>
                    {events.map((v) => (
                            <v.Content />
                    ))}
                </div>
            </details>
        </div>
        <div id="hlasky">
            <details>
                <summary>Hlášky</summary>
                <h2>Hlášky</h2>
                {
                    Object.keys(phrases).map((p) => (
                            <div class="teach">
                                <h3>{teachers[p]}</h3>{" "}
                                {authorized && classYear != 0 ?
                                        <a href={"/kronika/editor/catchphrases?teacher=" + encodeURIComponent(teachers[p]) + "&class=" + latinClass(classYear)}>Upravit</a> : ""}
                                <ul>
                                    {phrases[p].map((phrase) => (
                                            <li class="quote"
                                                id={
                                                    p +
                                                    "-" +
                                                    btoa(
                                                        encodeURIComponent(
                                                            phrase.substring(1, 9)
                                                        )
                                                    )
                                                }
                                            >
                                                {quoteFix(phrase)}{" "}
                                                <a class="report"
                                                   href={
                                                       "/kronika/report?text=" +
                                                       quoteFix(phrase) +
                                                       "&teacher=" +
                                                       teachers[p] +
                                                       "&year=" +
                                                       y +
                                                       "&return=" +
                                                       Astro.url.href +
                                                       encodeURIComponent("#") +
                                                       p +
                                                       "-" +
                                                       btoa(
                                                           encodeURIComponent(
                                                               phrase.substring(1, 9)
                                                           )
                                                       )
                                                   }
                                                   title="Nahlásit chybu"
                                                   style="color: red; text-decoration: none;"
                                                >
                                                    nahlásit chybu
                                                </a>
                                            </li>
                                    ))}
                                </ul>
                            </div>
                    ))
                }
            </details>
        </div>

        <aside>
            Stažení: <a href={"/kronika/summary/download/" + classYear}
        >CSV</a
        >{classYear != 0 && (<>{", "} <a href={"/catchphrases/" + classYear + ".json"}>JSON</a></>)}
        </aside>
    </div>
</Layout>

<script lang="js">
    document
        .querySelector("#udalosti")
        .querySelectorAll("h1")
        .forEach((e) => {
            e.remove();
        });

    if (location.hash) {
        const el = document.getElementById(location.hash.substring(1));
        el.classList.add("highlight");
        setTimeout(() => {
            el.scrollIntoView({
                behavior: "auto",
                block: "center",
                inline: "center",
            });
        }, 100);
    }

    document.addEventListener("scroll", (event) => {
        document.querySelectorAll("details[open] > summary").forEach((el) => {
            if (0 >= el.getBoundingClientRect().top) {
                if (!el.classList.contains("scrolled-past")) {
                    el.setAttribute(
                        "data-scroll-px",
                        window.scrollY + el.getBoundingClientRect().top
                    );
                }
                if (
                    el.hasAttribute("data-scroll-px") &&
                    parseFloat(el.getAttribute("data-scroll-px")) >=
                    window.scrollY
                ) {
                    el.classList.remove("scrolled-past");
                } else el.classList.add("scrolled-past");
            }
        });
    });
</script>

<style>
    summary {
        background-color: var(--text-color);
        color: var(--background);
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        margin-bottom: 1em;
        margin-right: 10px;
        border-radius: 12px;
    }

    summary:hover {
        filter: sepia(20);
    }

    details[open] > summary.scrolled-past {
        position: fixed;
        margin: 0px;
        top: 0px;
        z-index: 2;
        left: 0px;
    }

    .highlight {
        font-weight: 900;
        color: green;
    }

    aside {
        background-color: #e1b3b3;
        padding: 1em;
        border: 1px solid;
        border-radius: 12px;
    }

    .quote:hover > .report {
        display: inline;
    }

    .quote {
        cursor: pointer;
    }

    .quote > .report {
        display: none;
        font-weight: bold;
    }

    :global(#udalosti) {
        h2 {
            font-size: 1.3em;
        }

        h3 {
            font-size: 1.1em;
        }
    }
</style>
