---
const { frontmatter } = Astro.props;
---

<html>
    <head>
        <!-- Primary Meta Tags -->
        <title>Události | {frontmatter.class}</title>
    </head>

    <body>
        <h1>{frontmatter.class}</h1>
            <slot />
        
    </body>
</html>

<style>
    :root {
        --color-text: hsl(12, 5%, 4%);
		--color-bg: hsl(10, 21%, 95%);
    }

    html {
		font-family: system-ui, sans-serif;
        color: var(--color-text);
        background-color: var(--color-bg);
    }

    body {
        margin: 0;
        font-size: 1.2em;
        margin-left: 0.5em;
    }

    @media (prefers-color-scheme: dark) {
		html {
			filter: invert(1);
		}
	}
</style>
