---
import { Content as Prima } from "./1.md";
import { Content as Sekunda } from "./2.md";
import { Content as Tercie } from "./3.md";
import { Content as Kvarta } from "./4.md";
import { Content as Kvinta } from "./5.md";
import { Content as Sexta } from "./6.md";
import { Content as Septima } from "./7.md";
import { Content as Oktava } from "./8.md";
---

<html>
    <head>
        <title>Všechny události</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    </head>
    <body>
        <main>
            <div id="1" class="event">
                <Prima />
            </div>

            <div id="2" class="event">
                <Sekunda />
            </div>

            <div id="3" class="event">
                <Tercie />
            </div>

            <div id="4" class="event">
                <Kvarta />
            </div>

            <div id="5" class="event">
                <Kvinta />
            </div>

            <div id="6" class="event">
                <Sexta />
            </div>

            <div id="7" class="event">
                <Septima />
            </div>

            <div id="8" class="event">
                <Oktava />
            </div>

            <script is:inline>
                for (let index = 1; index < 9;index++) {
                    const element = document.getElementById(index)
                    if (element.getElementsByTagName("p").length < 1)
                        element.remove()
                    else
                        element.getElementsByTagName("title")[0].remove()
                }
            </script>
        </main>
    </body>
</html>
