---
import {Content as Prima} from "./1.md"
import {Content as Sekunda} from "./2.md"
import {Content as Tercie} from "./3.md"
import {Content as Kvarta} from "./4.md"
import {Content as Kvinta} from "./5.md"
import {Content as Sexta} from "./6.md"
import {Content as Septima} from "./7.md"
import {Content as Oktava} from "./8.md"
---

<html>
    <head>
        <title>V코echny ud치losti</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    </head>
    <main>
        <h1>V코echny ud치losti</h1>
        <Prima />
        <Sekunda />
        <Tercie />
        <Kvarta />
        <Kvinta />
        <Sexta />
        <Septima />
        <Oktava />
    </main>
</html>
