---
import BetaLayout from "../../../../layouts/beta/BetaLayout.astro";
import teachers from "../../../../../public/teachers.json";
const catchphrases = await Astro.glob("../../../../../public/catchphrases/*.json");

const t = Astro.params.teacher;

const teacher = teachers[t];

if (!teacher) {
    return Astro.redirect("/beta");
}

let phrases = [];
catchphrases.forEach((pr) => {
    if (pr[t]) pr[t].forEach((p) => phrases.push(p));
});

function quoteFix(input) {
    let n = 0;
    return input.replace(/"/g, (m, i, og) => {
        return (n++ % 2) ? "“" : '„';
    });
}
---

<BetaLayout title={"[BETA] " + teacher} description="Osobní stránka učitele">
    <div class="body">
        <div id="hlasky">
            <h2>Hlášky ({phrases.length})</h2>
            <ul>
                {
                    phrases.map((p) => 
                        (<li>{quoteFix(p)}</li>)
                    )
                }
            </ul>
        </div>
    </div>
</BetaLayout>
